<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="assets\Ryan.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Meu primeiro app</ion-card-title>
      <ion-card-subtitle>RYAN SANDONATO</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Matricula: 22107081
    </ion-card-content>
  </ion-card>
    <p> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  
</ion-content>
